{% extends "sets/base.html" %}

{% block content %}
    <h4>{{ term }}</h4>
    {% for flashcard in flashcards %}
        {% if flashcard.active %}
            #{{ flashcard.context.identifier }} -
            original answer: <b>{{ flashcard.get_context.fullname }}</b>
            <a target="_blank" href="{% url "admin:practice_extendedcontext_change" flashcard.context.pk %}"><i class="fi-pencil"></i></a>
            <br/>
            <a href="http://images.flowerchecker.com/images/{{ flashcard.images.0 }}-original" target="_blank"><img src="http://images.flowerchecker.com/images/{{ flashcard.images.0 }}-small" alt=""/></a>
            <a href="http://images.flowerchecker.com/images/{{ flashcard.images.1 }}-original" target="_blank"><img src="http://images.flowerchecker.com/images/{{ flashcard.images.1 }}-small" alt=""/></a>
            <a href="http://images.flowerchecker.com/images/{{ flashcard.images.2 }}-original" target="_blank"><img src="http://images.flowerchecker.com/images/{{ flashcard.images.2 }}-small" alt=""/></a>
        {% else %}
            <i>
                removed #{{ flashcard.context.identifier }} -
                original answer: <b>{{ flashcard.get_context.fullname }}</b>
                <a target="_blank" href="{% url "admin:practice_extendedcontext_change" flashcard.context.pk %}"><i class="fi-pencil"></i></a>
            </i>
        {% endif %}
        <hr/>
    {% endfor %}


{% endblock %}