default:
    proso_models:
        random_test:
            nth: 10
        predictive_model:
            class: proso.models.prediction.PriorCurrentPredictiveModel
        item_selector:
            class: proso.models.item_selection.ScoreItemSelection
        option_selector:
            class: proso.models.option_selection.NonOptionSelection
    proso_flashcards:
        option_set:
            class: proso_flashcards.flashcard_construction.EmptyOptionSet
        direction:
            class: proso_flashcards.flashcard_construction.OnlyFromDescriptionDirection
        practice:
            common:
                set_length: 10
                fc_queue_size_max: 1
                fc_queue_size_min: 1
                save_answer_immediately: true
                cache_context: false
            intro:
                set_length: 5
                fc_queue_size_max: 5
                fc_queue_size_min: 5
                save_answer_immediately: true
                cache_context: false


