.fancy {font-family: 'Sorts Mill Goudy', serif !important; }
.strong {font-weight: bold; }
.shadow,.shadow a {color: #909090; }
.underline{ text-decoration: underline; }

#footer {
    background-color: #fef8dd;
    color: #909090;
    padding: 20px;
    width: 100%;
    height: 100px;
    text-align: center;
    margin-top: 100px;
}
a {text-decoration: underline; color: #000000; transition: color 0.3s; }
a:hover { color: #000000; }

#tulips {position: relative;}
#tulips img {margin-right: 150px;}
#tulips span {position: absolute; left: 610px; top: 20px; font-size: 1.3rem;}


.plant-type-box{
    width: 180px;
    height: 260px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: inline-block;
    position: relative;
    text-align: left;
    padding: 190px 10px 10px;
    transition: all 0.5s;
}
.plant-type-box:hover { box-shadow: 0 0 5px black; }

.plant-type-box:before{
    content: "";
    height: 180px;
    width: 180px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fef8dd;
}
.plant-type-box img{
    max-width: 160px;
    max-height: 160px;
    margin-top: -170px;
    position: absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}
.plant-type-box .button{
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 5px 15px;
    margin: 0;
}
.plant-type-box span{
    font-weight: bold;
}

#google, #facebook{
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: 0.8rem;
    padding: 6px 18px 5px 40px;
    position: relative;
    display: inline-block;
    transition: all 0.5s;
    cursor: pointer;
}
#google i, #facebook i{
    position: absolute;
    font-size: 1.5rem;
    left: 8px;
    top: -0.1rem;
}
#google{ background-color: #dd4b35; border-bottom: solid 2px #8e3326; }
#google:hover{ background-color: #c33c2f; }
#facebook{ background-color: #445eaa; border-bottom: solid 2px #1c3068; float: right;}
#facebook:hover{ background-color: #294694; }

.separator{
    border-top: solid #c6c6c6 1px;
    color: #909090;
    margin-top: 25px;
    margin-bottom: 25px;
    position: relative;
    font-size: 0.8rem;
}
.separator > span{
    position: absolute;
    left: 50%;
    top: -0.7rem;
}
.separator > span > span{
    position: relative;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: -50%;
}


/* Foundation customization */

div[role=navigation]{ border-bottom: solid lightgray 1px; }
div[role=navigation] a {text-decoration: none; }
.button{ border-bottom: solid #236618 2px; }
.top-bar-section ul li > a, .uppercase  {text-transform: uppercase;}
label {text-transform: uppercase;}


/* Practice */

#image-strip {
    background-color: #2a2a2a;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    height: 460px;
    z-index: -1;
}
#image-strip #img{
    display: inline-block;
    margin: auto;
    height: 100%;

}
#select-left{
    display: inline-block;
    width: 130px;
    padding: 10px;
    height: 460px;
}
#select-left > div{
    border: solid white 1px;
    height: 102px;
    width: 102px;
    margin-bottom: 10px;
    transition: all 0.5s;
    opacity: 0.5;
}
#select-left > div.selected{ border-color: #236618; margin-left: 5px;}
#select-left > div:hover{
    margin-left: 5px;
    opacity: 1;
}
#select-left > div > img {
    object-fit: cover;
    object-position: center;
    height: 100px;
    width: 100px;
}
#answer{
    margin-top: 20px;
}

#answer ul.f-dropdown{
    width: auto;
    max-width: none;
    margin-top: 0;
    right: 15px;
    left: 0;
    font-family: 'Sorts Mill Goudy', serif !important;
}
#answer .f-dropdown::before, #answer .f-dropdown::after { content: none; }
#answer .f-dropdown li a {
    color: #000000;
    text-decoration: none;
    font-size: 1.1rem !important;
    height: 40px;
    line-height: 28px;
}
#answer .f-dropdown li a:hover{background-color: #fef8dd;}
div.google_icon, div.web_icon {
    display: inline-block;
    height: 24px;
    width: 24px;
    float: right;
    text-align: center;
    border: solid gray 1px;
    border-radius: 3px;
    margin-left: 5px;
    background-color: white;
    cursor: pointer;
}
div.google_icon:hover, div.web_icon:hover {
    background-color: #cad5fe;
}
#answer input{
    color: #000000;
    font-size: 1.1em;
}
#answer input.selected{ background-color: #fef8dd; }
#answer > #input {
    position: relative;
}
#answer > #input > span{
    position: absolute;
    right: 15px;
    top: 7px;
    color: gray;
    border-left: solid lightgray 1px;
    padding-left: 10px;
    cursor: pointer;
}
#answer > #input > div.loader {
    font-size: 0.2rem;
    position: absolute;
    right: 23px;
    top: 7px;
    margin: 0;
}
#answer > #input > #links {
    position: absolute;
    right: 48px;
    top: 7px;
}
#answer > #input > span:hover{ color: #000000 }


/* spinner */
.loader:before, .loader:after, .loader { border-radius: 50%; width: 2.5em; height: 2.5em; -webkit-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation: load7 1.8s infinite ease-in-out; animation: load7 1.8s infinite ease-in-out; }
.loader { margin: 8em auto; font-size: 10px; position: relative; text-indent: -9999em; -webkit-animation-delay: 0.16s; animation-delay: 0.16s; }
.loader:before { left: -3.5em; }
.loader:after { left: 3.5em; -webkit-animation-delay: 0.32s; animation-delay: 0.32s; }
.loader:before, .loader:after { content: ''; position: absolute; top: 0; }
@-webkit-keyframes load7 { 0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em #aaaaaa; } 40% { box-shadow: 0 2.5em 0 0 #FFF; } }
@keyframes load7 { 0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em #aaaaaa; } 40% { box-shadow: 0 2.5em 0 0 #aaaaaa; } }
