.fancy{ font-family: 'Sorts Mill Goudy', serif; !important; }
.strong{ font-weight: bold; }

.underline{ text-decoration: underline; }

#footer{
    background-color: #fef8dd;
    color: #909090;
    padding: 20px;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 100px;
    text-align: center;
}
a.shadow-link, a.shadow-link:hover {color: #909090; text-decoration: underline; }

#tulips {position: relative;}
#tulips img {margin-right: 150px;}
#tulips span {position: absolute; left: 610px; top: 20px; font-size: 1.3rem;}


/* Foundation customization */

div[role=navigation]{ border-bottom: solid lightgray 1px; }
.button{ border-bottom: solid #236618 2px; }
.top-bar-section ul li > a, .uppercase  {text-transform: uppercase;}