{% load staticfiles %}
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PlantChallenge</title>

    <link rel="stylesheet" href="{% static "foundation/css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "foundation/css/myfoundation.css" %}">
    <link rel="stylesheet" href="{% static "foundation/icons/foundation-icons.css" %}">
    <link rel="stylesheet" href="{% static "style.css" %}">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic' rel='stylesheet' type='text/css'>

    <script src="{% static "angular/angular.js" %}"></script>
    <script src="{% static "angular/angular-cookies.min.js" %}"></script>
    <script src="{% static "angular/angular-route.min.js" %}"></script>
    <script src="{% static "foundation/js/vendor/modernizr.js" %}"></script>
    <script src="{% static "main.js" %}"></script>

    <base href="/">
</head>
<body ng-app="plantChallenge">

<div class="contain-to-grid" role="navigation">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name uppercase"><h1><a href="/">Plant Challenge</a></h1></li>
            <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>
        <section class="top-bar-section"> <!-- Right Nav Section -->
            <ul class="right">
                <li><a href="about">About</a></li>
                <li class=""><a href="login">Login</a>
                </li>
            </ul>
            <ul class="left">
{#                <li><a href="#">Left Nav Button</a></li>#}
            </ul>
        </section>
    </nav>
</div>

<div id="content" class="row">
    <div ng-view></div>
</div>


<div id="footer" class="fancy">
    <div>Created in 2015</div>
    <div class="shadow"><a href="/about">About Plant Challenge</a></div>
</div>

<script src="{% static "foundation/js/vendor/jquery.js" %}"></script>
<script src="{% static "foundation/js/vendor/fastclick.js" %}"></script>
<script src="{% static "foundation/js/foundation.min.js" %}"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>