<div style="height: 2rem"></div>
<div class="columns large-5 medium-7 large-offset-4 medium-offset-2">
    <h3>Login</h3>
    <div style="height: 1rem"></div>

    <div class="row">
        <div class="small-6 column">
            <span id="google"><i class="fi-social-google-plus"></i>with Google</span>
        </div>
        <div class="small-6 column">
            <span id="facebook"><i class="fi-social-facebook"></i>with Facebook</span>
        </div>
    </div>
    <div class="separator uppercase"><span><span>OR</span></span></div>

    <label> Email <input ng-model="user.email" type="text"/></label>
    <label> Password <input ng-model="user.password" type="text"/></label>

    <div class="button medium uppercase">login</div>

</div>