<div style="height: 2rem"></div>
<div class="columns large-5 medium-7 large-offset-4 medium-offset-2">
    <h3>Login</h3>
    <div style="height: 1rem"></div>

    <div class="row">
        <div class="small-6 column"  ng-click="service.login_google()">
            <span id="google"><i class="fi-social-google-plus"></i>with Google</span>
        </div>
        <div class="small-6 column" ng-click="service.login_facebook()">
            <span id="facebook"><i class="fi-social-facebook"></i>with Facebook</span>
        </div>
    </div>
    <div class="separator uppercase"><span><span>OR</span></span></div>
    <div data-alert class="alert-box alert" ng-cloak ng-show="service.user.error    ">
        {{ service.user.error }}
        <a href="#" class="close">&times;</a>
    </div>
    <form ng-submit="sign_up()">
        <label> Email <input ng-model="login.email" type="email" required="true"/></label>
        <label> Password <input ng-model="login.password" required type="password"/></label>

        <input type="submit" class="button medium uppercase" value="sign up">
    </form>
</div>

