<div ng-hide="selectedRequest">
    <div ng-hide="requests" class="loader"></div>
    <div ng-cloak ng-show="requests" class="columns">
        <div ng-click="goToDetail(request)" ng-repeat="request in requests.slice(requestsPerPage * (currentPage - 1), requestsPerPage * (currentPage ))" class="request-card">
            <span>
                <timer countdown="request.time" finish-callback="request.closed=true" max-time-unit="'hour'" interval="1000">{{ hhours }}:{{mminutes}}<span class="shadow">:{{sseconds}}</span> </timer>
            </span>
            <hr>
            <slick ng-hide="request.closed" settings="slickConfig">
                <div ng-repeat="image in request.images">
                    <img ng-src='{{image_url(image, "medium")}}' />
                </div>
            </slick>
        </div>
        <div class="pagination-centered">
            <pagination total-items="requests.length" page="currentPage" items-per-page="requestsPerPage"></pagination>
        </div>

    </div>
</div>


<div ng-cloak ng-show="selectedRequest">
    <a href="" class="right" ng-click="goToOverview()">back</a>

    <div id="image-strip" ng-cloak ng-show="selectedRequest">
        <img id="img" ng-src='{{image_url(selectedRequest.selectedImage, "big")}}'/>
    </div>
    <div id="select-left" ng-cloak ng-show="selectedRequest">
        <div
                ng-hide="selectedRequest.images.length == 1"
                ng-repeat="image in selectedRequest.images"
                ng-click="selectedRequest.selectedImage = image"
                ng-class="{'selected': selectedRequest.selectedImage == image}"
                >
            <img ng-src='{{image_url(image, "small")}}' />
        </div>
    </div>
    <br/>

    {{ guess }}
</div>