<div class="text-center">
    <a href="" class="menu" ng-click="showGuesses = false; selectedRequest = null;" ng-class="{shadow: showGuesses}">Panding plants</a>
    &nbsp;&nbsp; | &nbsp;&nbsp;
    <a href="" class="menu" ng-click="showGuesses = true; selectedRequest = null;" ng-class="{shadow: !showGuesses}">My guesses</a>
</div>
<hr>

<div ng-hide="selectedRequest || showGuesses">
    <br>
    <div ng-hide="requests" class="loader"></div>
    <div ng-cloak ng-show="requests" class="columns">
        <div
                ng-repeat="request in requests.slice(requestsPerPage * (currentPage - 1), requestsPerPage * (currentPage ))"
                class="request-card" ng-class="{guessed: request.guess && !request.guess.new}"
        >
            <span>
                <timer countdown="request.time" finish-callback="request.closed=true" max-time-unit="'hour'" interval="1000">{{ hhours }}:{{mminutes}}<span class="shadow">:{{sseconds}}</span> </timer>
            </span>
            <hr>
            <slick ng-if="!selectedRequest && !showGuesses" ng-hide="request.closed" settings="slickConfig">
                <div ng-click="goToDetail(request)" ng-repeat="image in request.images">
                    <img ng-src='{{image_url(image, "big")}}' />
                </div>
            </slick>
        </div>
        <div class="pagination-centered">
            <pagination total-items="requests.length" page="currentPage" items-per-page="requestsPerPage"></pagination>
        </div>

    </div>
</div>


<div ng-cloak ng-show="selectedRequest ">

    <div id="image-strip" ng-cloak ng-show="selectedRequest">
        <img id="img" ng-src='{{image_url(selectedRequest.selectedImage, "big")}}'/>
    </div>
    <div id="select-left" ng-cloak ng-show="selectedRequest">
        <div
                ng-hide="selectedRequest.images.length == 1"
                ng-repeat="image in selectedRequest.images"
                ng-click="selectedRequest.selectedImage = image"
                ng-class="{'selected': selectedRequest.selectedImage == image}"
                >
            <img ng-src='{{image_url(image, "big")}}' />
        </div>
    </div>
    <br/>

    <a href="" class="right" ng-click="goToOverview()">back</a>

    <div class="columns large-8 large-offset-2" ng-show="selectedRequest.guess.new">
        <plant-select submit="submit" all="true" focus='selectedRequest' model="selectedRequest.guess.term"></plant-select>
        <div class="button uppercase" ng-disabled="!selectedRequest.guess.term" ng-click="submit()">Answer</div>
    </div>

    <div ng-hide="selectedRequest.guess.new" ng-cloak class="columns large-8 large-offset-2">
        <span class="shadow" ng-hide="selectedRequest.closed">Thank you for your contribution</span>
        <span class="shadow" ng-show="selectedRequest.closed">Your answer</span>
        <br>
        <div class="google_icon" ng-click="searchGoogle(selectedRequest.guess.term)" stop-event><i class="fi-magnifying-glass"></i></div>
        <div class="web_icon" ng-click="openWeb(selectedRequest.guess.term)" stop-event><i ng-class="webIcon(selectedRequest.guess.term)"></i></div>
        <h3 class="fancy">
            {{ selectedRequest.guess.term.name }}
            <button ng-hide="selectedRequest.closed" class="small" ng-click="selectedRequest.guess.new = true">change</button>
        </h3>

        <span class="shadow" ng-show="selectedRequest.closed">Experts' answer</span>
        <br>
        <div class="google_icon" ng-show="selectedRequest.term.name" ng-click="searchGoogle(selectedRequest.term)" stop-event><i class="fi-magnifying-glass"></i></div>
        <div class="web_icon" ng-show="selectedRequest.term.name" ng-click="openWeb(selectedRequest.term)" stop-event><i ng-class="webIcon(selectedRequest.term)"></i></div>
        <h3 class="fancy" ng-show="selectedRequest.closed">
            {{ selectedRequest.term.name }}
            <span ng-hide="selectedRequest.term.name">Unfortunately, we don't know.</span>
        </h3>
        <hr>
        <span class="shadow" ng-show="selectedRequest.guess.points">You are <b class="black"><span ng-show="selectedRequest.guess.correct == 'pc'">partially </span>correct</b> with time {{ selectedRequest.guess.delay }} </span>
        <span class="shadow" ng-show="selectedRequest.guess.correct == 'i'">Sorry, we have diffirent opinion.</span>
        <span ng-show="selectedRequest.guess.correct == 'i'"><br>Disagree? <a href="mailto:info@flowerchecker.com">Write us.</a></span>
        <h3 ng-show="selectedRequest.guess.points" class="fancy"> You earned <span class="green">{{ selectedRequest.guess.points }} points</span></h3>
    </div>
</div>


<div ng-cloak ng-show="showGuesses && !selectedRequest">
    <div ng-repeat="guess in guesses"  class="request-card"  ng-click="goToDetail(guess.request)">
        <span>
            <timer ng-hide="guess.request.closed" countdown="guess.request.time" finish-callback="guess.request.closed=true" max-time-unit="'hour'" interval="1000">{{ hhours }}:{{mminutes}}<span class="shadow">:{{sseconds}}</span> </timer>
            <div class="text-center" ng-hide="!guess.request.closed">
                {{ guess.status }}
                <span class="green" ng-show="guess.points">{{ guess.points }}p</span>
            </div>
        </span>
        <hr>
        <slick ng-if="showGuesses && !selectedRequest" settings="slickConfig">
            <div ng-repeat="image in guess.request.images">
                <img ng-src='{{image_url(image, "medium")}}' />
            </div>
        </slick>
    </div>
</div>