<div class="large-10 large-offset-1 column">
    <div ng-controller="postPractice">
        <div class="medium-5 column">
            <br/>
            <h3>Set finished</h3>
            <p class="fancy"><span ng-hide="summary.correct == 0">Good job!</span> You identified {{ summary.correct }} from {{ summary.count }} plants from {{ summary.areaName }}.</p>
            <hr/>
                <div ng-repeat="flashcard in summary.flashcards" class="fancy set-result-list">
                <div ng-show="!flashcard.answer.correct" class="fi-x"></div>
                <div ng-show="flashcard.answer.correct" class="fi-check"></div>
                {{ flashcard.term.name }}
            </div>
            <hr/>
        </div>

        <div class="medium-6 medium-offset-1 column" ng-show="global.user.status.logged">
            <br/>
            <h3>Continue?</h3>
            <p class="fancy">Get the level 3 to join others in Contest mode.</p>

            <a ng-href="/practice/{{ summary.area }}/{{ summary.areaName }}" class="button uppercase strong">Continue in this area</a>
            <div class="shadow uppercase">or <a href="/training" class="shadow-link">end & go to training overview</a></div>
        </div>
    </div>

    <div class="medium-6 medium-offset-1 column" ng-controller="auth" ng-hide="user.status.logged">
        <br/>
        <h3>Sign up for more</h3>
        <p class="fancy">Sign up to Plant Challenge to continue with more plants and sets prepared for you. All for free.</p>
        <div style="height: 1rem"></div>

        <div class="row">
            <div class="small-6 column"  ng-click="user.loginGoogle()">
                <span id="google"><i class="fi-social-google-plus"></i>sign with Google</span>
            </div>
            <div class="small-6 column" ng-click="user.loginFacebook()">
                <span id="facebook"><i class="fi-social-facebook"></i>sign with Facebook</span>
            </div>
        </div>
        <div class="separator uppercase"><span><span>OR</span></span></div>
        <div data-alert class="alert-box alert" ng-cloak ng-show="user.error.error">
            {{ user.error.error }}
            <a href="#" class="close">&times;</a>
        </div>
        <form ng-submit="signUp()">
            <label> Email <input ng-model="login.email" type="email" required="true"/></label>
            <label> Password <input ng-model="login.password" required type="password"/></label>
            <label> Password Again <input ng-model="login.password2" required type="password"/></label>

            <input type="submit" class="button medium uppercase" value="sign up">
            &nbsp;&nbsp;&nbsp;
            <span class="shadow uppercase">or <a href="/login" class="shadow-link">log in</a></span>
        </form>
    </div>

</div>