<div id="image-strip">
    <img id="img" ng-src="{{ flashcard.selected_image }}"/>
</div>
<div id="select-left">
    <div
            ng-repeat="image in flashcard.images"
            ng-click="flashcard.selected_image = image"
            ng-class="{'selected': flashcard.selected_image == image}"
            >
        <img ng-src="{{ image }}" />
    </div>
</div>
<br/>

<div id="answer" class="columns large-8 large-offset-2">
    <h3>What is this plant?</h3>
    <div id="input">
        <input
                typeahead="plant as plant.name for plant in getPlantNames($viewValue)"
                typeahead-loading="loadingPlants"
                type="text" ng-model="answer.meta"
                typeahead-editable="false"
                typeahead-min-length="2"
                typeahead-template-url="static/ng-parts/dropdown.html"
                class="fancy"
                ng-class="{'selected': answer.meta}"
                />
        <div id="links" ng-show="answer.meta" >
            <div class="google_icon" ng-click="search_google(answer.meta)" stop-event><i class="fi-magnifying-glass"></i></div>
            <div class="web_icon" ng-click="open_web(answer.meta)" stop-event><i class="fi-web"></i></div>
        </div>
        <span ng-show="answer.meta" ng-click="answer.meta = null" class="fi-x"></span>
        <div ng-show="loadingPlants" class="loader"></div>
    </div>
    <div class="button uppercase">Answer</div>
    <span class="shadow uppercase">&nbsp;&nbsp;&nbsp;or&nbsp;&nbsp;&nbsp;<a href="" class="shadow-link">show correct answer</a></span>

    <br/>
    {{ flashcard }}
    <br/>
    {{ answer }}
</div>