<div class="loader" ng-hide="flashcard"></div>

<div id="image-strip" ng-cloak ng-show="flashcard">
    <img id="img" ng-src='{{ flashcard.selectedImageUrl }}'/>
</div>
<div id="select-left" ng-cloak ng-show="flashcard">
    <div
            ng-hide="flashcard.context.content.length == 1 && !flashcard.map"
            ng-repeat="image in flashcard.context.content"
            ng-click="flashcard.selectedImage = image; flashcard.selectedImageUrl = imageUrl(image, 'big')"
            ng-class="{'selected': flashcard.selectedImage == image}"
            >
        <img ng-src='{{imageUrl(image, "small")}}' />
    </div>
    <div
            ng-hide="!flashcard.map"
            ng-click="flashcard.selectedImage = 'map'; flashcard.selectedImageUrl = flashcard.map"
            ng-class="{'selected': flashcard.selectedImage == 'map'}">
        <img ng-src="{{ flashcard.mapSmall }}" alt="">
    </div>
</div>
<br/>

<div class="columns large-8 large-offset-2" keypress-events>
<div ng-hide="answer.answered || !flashcard" id="answer">
    <h3>What is this plant?</h3>

    <plant-select submit="submit" focus='!answer.answered && flashcard' model="answer.term" short='flashcard.term.name.indexOf(" ") == -1'></plant-select>

    <div class="button uppercase" ng-disabled="!answer.term" ng-click="submit()">Answer</div>
    <span class="shadow uppercase">&nbsp;&nbsp;&nbsp;or&nbsp;&nbsp;&nbsp;
        <a href="" class="shadow-link" ng-click="skip()">show correct answer</a></span>
</div>

<div ng-cloak ng-show="answer.closed && answer.correct && answer.answered">
    <h4><div class="fi-check"></div>Yes, correct!</h4>
    <p>
        <div class="google_icon" ng-click="searchGoogle(flashcard.term)" stop-event><i class="fi-magnifying-glass"></i></div>
        <div class="web_icon" ng-click="openWeb(flashcard.term)" stop-event><i ng-class="webIcon(flashcard.term)"></i></div>
        It is <strong>{{ flashcard.term.name }}</strong>
    </p>
    <p><i ng-bind-html="flashcard.term.interesting | linky:'_blank'"></i></p>
    <div class="button uppercase medium" ng-click="next_plant()" next-action="answer.closed && answer.correct && answer.answered" ng-hide="set.current + 1 == set.length" onkeydown="if (event.keyCode == 13) this.click()">Next plant</div>
    <div class="button uppercase medium" ng-click="next_plant()" ng-cloak ng-show="set.current + 1 == set.length">Finish</div>
</div>

<div ng-cloak ng-show="answer.answered && !answer.closed && !answer.correct">
    <h4><div class="fi-x"></div>Unfortunately no.</h4>
    <p>This is not <strong>{{ answer.term.name }}</strong></p>
    <div class="button uppercase" next-action="answer.answered && !answer.closed && !answer.correct" ng-click="try_again()">Try again</div>
    <span class="shadow uppercase">&nbsp;&nbsp;&nbsp;or&nbsp;&nbsp;&nbsp;
        <a href="" class="shadow-link" ng-click="skip()">show correct answer</a></span>
</div>

<div ng-cloak ng-show="answer.closed && !answer.correct">
    <h4><div class="fi-x"></div>No worries, here is the answer.</h4>
    <p>
        <div class="google_icon" ng-click="searchGoogle(flashcard.term)" stop-event><i class="fi-magnifying-glass"></i></div>
        <div class="web_icon" ng-click="openWeb(flashcard.term)" stop-event><i ng-class="webIcon(flashcard.term)"></i></div>
        It is <strong>{{ flashcard.term.name }}</strong>
    </p>
    <p><i ng-bind-html="flashcard.term.interesting | linky:'_blank'"></i></p>
    <div class="button uppercase medium" next-action="answer.closed && !answer.correct" ng-click="next_plant()" ng-hide="set.current + 1 == set.length">Next plant</div>
    <div class="button uppercase medium" ng-click="next_plant()" ng-cloak ng-show="set.current + 1 == set.length">Finish</div>
</div>
</div>