<div class="loader" ng-hide="flashcard"></div>

<div id="image-strip" ng-cloak ng-show="flashcard">
    <img id="img" ng-src="static/plants/{{ flashcard.selected_image }}"/>
</div>
<div id="select-left" ng-cloak ng-show="flashcard">
    <div
            ng-hide="flashcard.context.content.length == 1"
            ng-repeat="image in flashcard.context.content"
            ng-click="flashcard.selected_image = image"
            ng-class="{'selected': flashcard.selected_image == image}"
            >
        <img ng-src="static/plants/{{ image }}" />
    </div>
</div>
<br/>

<div class="columns large-8 large-offset-2">
<div ng-hide="answer.answered || !flashcard" id="answer">
    <h3>What is this plant?</h3>
    <div id="input">
        <input
                type="text"
                class="fancy"
                ng-class="{'selected': answer.meta}"
                ng-model="answer.term"
                typeahead="plant as plant.name for plant in getPlantNames($viewValue)"
                typeahead-loading="loadingPlants"
                typeahead-editable="false"
                typeahead-min-length="2"
                typeahead-wait-ms="300"
                typeahead-template-url="static/ng-parts/dropdown.html"
                />
        <div id="links" ng-show="answer.term" >
            <div class="google_icon" ng-click="search_google(answer.term)" stop-event><i class="fi-magnifying-glass"></i></div>
            <div class="web_icon" ng-click="open_web(answer.term)" stop-event><i class="fi-web"></i></div>
        </div>
        <span ng-show="answer.term" ng-click="answer.term = null" class="fi-x"></span>
        <div ng-show="loadingPlants" class="loader"></div>
    </div>
    <div class="button uppercase" ng-disabled="!answer.term" ng-click="submit()">Answer</div>
    <span class="shadow uppercase">&nbsp;&nbsp;&nbsp;or&nbsp;&nbsp;&nbsp;
        <a href="" class="shadow-link" ng-click="skip()">show correct answer</a></span>
</div>

<div ng-cloak ng-show="answer.closed && answer.correct && answer.answered">
    <h4><div class="fi-check"></div>Yes, correct!</h4>
    <p>It is <strong>{{ flashcard.term.name }}</strong></p>
    <p><i>{{ flashcard.term.interesting }}</i></p>
    <div class="button uppercase medium" ng-click="next_plant()" ng-hide="set.current + 1 == set.length">Next plant</div>
    <div class="button uppercase medium" ng-click="next_plant()" ng-cloak ng-show="set.current + 1 == set.length">Finish</div>
</div>

<div ng-cloak ng-show="answer.answered && !answer.closed && !answer.correct">
    <h4><div class="fi-x"></div>Unfortunately no.</h4>
    <p>This is not <strong>{{ answer.term.name }}</strong></p>
    <div class="button uppercase" ng-click="try_again()">Try again</div>
    <span class="shadow uppercase">&nbsp;&nbsp;&nbsp;or&nbsp;&nbsp;&nbsp;
        <a href="" class="shadow-link" ng-click="skip()">show correct answer</a></span>
</div>

<div ng-cloak ng-show="answer.closed && !answer.correct">
    <h4><div class="fi-x"></div>No worries, here is the answer.</h4>
    <p>It is <strong>{{ flashcard.term.name }}</strong></p>
    <p><i>{{ flashcard.term.interesting }}</i></p>
    <div class="button uppercase medium" ng-click="next_plant()" ng-hide="set.current + 1 == set.length">Next plant</div>
    <div class="button uppercase medium" ng-click="next_plant()" ng-cloak ng-show="set.current + 1 == set.length">Finish</div>
</div>
</div>