<div class="columns medium-10 medium-offset-1">
    <br>
    <a ng-href="/practice/{{ id }}/{{ areaName }}" class="right button uppercase strong">Train this area</a>
    <h1>{{ areaName }}</h1>

    <div class="loader" ng-hide="overviews[id]"></div>

    <div ng-repeat="plant in overviews[id]">
        <h5>{{ plant.name }}</h5>
        <ul class="clearing-thumbs auto-thumbs" data-clearing>

            <li ng-repeat="img in plant.example.context.content"><a class="th" ng-href="{{ image_url(img, 'original') }}"><img ng-src="{{ image_url(img, 'medium') }}"></a></li>
        </ul>
    </div>

</div>