<div class="text-center columns large-6 large-offset-3" ng-cloak ng-show="showInfo">
    <h3 class="strong">Welcome to PlantChallenge!</h3>
    <p>
        Continue practicing your plant recognition skills in Training mode.
        Become <b class="uppercase">Level 3</b> master in at least 3 areas
        to join other challengers in Contest mode.
    </p>
</div>

<div class="columns large-10 large-offset-1">
    <div style="height: 2rem"></div>
    <p>Choose area you want practice</p>
    <div class="areas"></div>

    <div class="area-box" ng-repeat="area in areas.areas" ng-click="openArea(area)">
        <img ng-src="/media/areas/{{ area.identifier }}.jpg" alt=""/>
        <span>{{ area.name }}</span>
        <br/>
        <div class="loader small" ng-hide="area.stats"></div>
        {{ area.stats.number_of_correct_answers }}
    </div>
</div>