<div class="text-center columns large-6 large-offset-3" ng-cloak ng-show="showInfo">
    <h3 class="strong">Welcome to PlantChallenge!</h3>
    <p>
        Continue practicing your plant recognition skills in Training mode.
        Become <b class="uppercase">Level 3</b> master in at least 3 areas
        to join other challengers in Contest mode.
    </p>
</div>

<div class="columns large-10 large-offset-1">
    <div style="height: 2rem"></div>
    <p>Choose area you want practice</p>
    <div class="areas"></div>

    <div class="area-box" ng-repeat="area in areas.areas track by $index" ng-click="openArea(area)">
        <a stop-event ng-href="area-overview/{{ area.id }}/{{ area.name }}" class="fi-eye"></a>
        <img ng-src="/media/areas/{{ area.identifier }}.jpg" alt=""/>
        <span>{{ area.name }}</span>
        <br/>
        <div class="loader small" ng-hide="area.stats"></div>
        <div class="level-bar" ng-show="area.stats">
            {{ area.level }} <span class="small uppercase">level</span>
            <span class="right small shadow">{{ area.nextLevelIn }} plants to level {{ area.level + 1 }}</span>
            <progressbar value="area.inThisLevel / area.levelLength * 100"></progressbar>
        </div>
    </div>
</div>
<div class="columns large-1"></div>